.inf {
  text-align: center;
  font-family: Fantasy;
}

.text {
  text-align: center;
  font-family: Amatic SC;
}

.data {
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  height: 100%;
  min-height: 280px;
}

.data:hover {
  background-color: rgb(213, 213, 213);
  transition: 0.5s;
  transform: translateY(-6px);
  box-shadow: 5px 5px 5px rgb(93, 91, 91);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
  align-items: stretch;
}

.type {
  font-weight: normal;
}

.img {
  background: none;
  width: 95px;
  height: 90px;
}

body {
  padding-left: 100px;
  padding-right: 100px;
}

.sub {
  text-align: center;
  font-family: cursive;
}
