.inf {
  text-align: center;
  font-family: Fantasy;
}

.text {
  text-align: center;
  font-family: Amatic SC;
}

.data {
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
}

.data:hover {
  background-color: whitesmoke;
  transition: 0.5s;
}
