.inf {
  text-align: center;
  font-family: Fantasy;
  color: white;
}

.text {
  text-align: center;
  font-family: Amatic SC;
  color: white;
}

.data {
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  height: 100%;
  min-height: 280px;
}

.data:hover {
  background-color: rgb(237, 231, 231);
  transition: 0.5s;
  transform: translateY(-6px);
  box-shadow: 5px 5px 5px rgb(154, 148, 148);
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
  align-items: stretch;
}

.type {
  font-weight: normal;
  color: white;
}

.img {
  background: none;
  width: 95px;
  height: 90px;
}

body {
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgb(14, 14, 14);
}

.sub {
  text-align: center;
  font-family: cursive;
  color: white;
}

.berd {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: white;
}

.data:hover h3,
.data:hover p {
  color: black;
}
